@model Arkiva.Models.Subjekt

@{
    ViewBag.Title = "Fshi Subjektin e perzgjedhur: " + Model.Emri;
}

<h2>@ViewBag.Title</h2>

@if (Model.Inspektime.Any() == true)
{
    ViewBag.Numri = Model.Inspektime.Count();

    if (ViewBag.Numri > 1)
    {
        ViewBag.Message = "Kujdes! Ju po fshini Subjektin " + Model.Emri + " i cili permban " + ViewBag.Numri + " Inspektime" + ". Deshironi te procedoni me zgjedhjen?";
    }
    else
    {
        ViewBag.Message = "Kujdes! Subjekti perkates permban " + ViewBag.Numri + " inspektim.";
    }

}

<h4 style="color: red; padding-top: 30px">@ViewBag.Message</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color" align="right">
        <input type="submit" value="Fshi" class="btn btn-danger" style="font-size: 12px"/>
        @Html.ActionLink("Anullo", "Index", null, new { @class = "btn btn-warning", @style="font-size: 12px" })
    </div>
}