<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup align="center" style="padding-top: 100px">
        <h1>Error 404</h1>
        <h2 style="padding-top: 50px" >Faqa e kerkuar nuk u gjend ose nuk ekziston. Kliko mbi Arkiva per te shkuar ne faqen kryesore.</h2>
    </hgroup>
</body>
</html>
