@model Arkiva.Models.Dokument

@{
    ViewBag.Title = "Fshi Dokumentin!";
}

<h2>@ViewBag.Title</h2>

<h4 style="color: red; padding-top: 30px">A jeni të sigurt që dëshironi të fshini dokumentin e përzgjedhur?</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color" align="right">
        <input type="submit" value="Fshi" class="btn btn-danger" style="font-size: 12px" onclick="getInputValue()" />
        @Html.ActionLink("Anullo", "Index", new { LlojiDokumentitID = Model.LlojiDokumentitId }, new { @class = "btn btn-warning", @style = "font-size: 12px" })
    </div>
}
